.hero {
  background-size: cover;
  background: url('../../assets/img/hero-desk.gif') no-repeat center;
}

.hero__container {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent);
  height: 100vh;
  width: 100%;
  display: grid;
}

.hero__box {
  font-family: 'Comfortaa', cursive;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.hero__title {
  font-size: 3rem;
  font-weight: 300;
}

.hero__subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2.5rem;
  padding: 1rem;
}
