.navbar {
  grid-area: navbar;
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: #21629c;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  color: white;
  text-decoration: none;
}

.navbar__icons img {
  display: inline;
  vertical-align: middle;
}

.navbar__icons a {
  text-decoration: none;
  color: grey;
}

.navbar__toggle {
  cursor: pointer;
  color: white;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: 0 1rem 1rem;
  background-color: #21629c;
}

.navbar__dropdown ul {
  padding: 0;
  padding-right: 1rem;
  margin: 0;
}

.navbar__dropdown li {
  list-style: none;
  padding-top: 1rem;
  text-align: right;
}

.navbar__dropdown a {
  text-decoration: none;
  color: white;
}

.show {
  display: block;
}

