@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

:root {
  --primary-color: #21629c;
  --primary-color-light: rgba(33, 108, 156, 0.9);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
}
