.desk__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: '.'
                       '.'
                       '.';
}

.desk__image {
  width: 100%;
}

.desk__title {

}

.desk__description {
  text-align: justify;
  vertical-align: top;
  min-height: 5rem;
}

.desk__button {
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  cursor: pointer;
}

.desk__button:hover,
.desk__button:focus {
  background-color: var(--primary-color-light);
}
