.desk__container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: '.'
                       '.'
                       '.';
}

.desk__image {
  width: 100%;
}

.desk__title {

}

.desk__description {
  text-align: justify;
  vertical-align: top;
}

.desk__button {
  font-family: inherit;
  text-transform: uppercase;
  background-color: #21629c;
  color: white;
  padding: 1rem;
  border: 1px solid #21629c;
  border-radius: 0;
  cursor: pointer;
}

.desk__button:hover,
.desk__button:focus {
  background-color: rgba(33, 108, 156, 0.9);
}
