.desk__container {
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(2, auto) 1fr repeat(2, auto);
  grid-template-areas: 'image'
                       'title'
                       'description'
                       'price'
                       'button';
}

.desk__image {
  width: 100%;
  grid-area: image;
}

.desk__title {
  grid-area: title;
}

.desk__description {
  grid-area: description;
  text-align: justify;
  vertical-align: top;
}

.desk__price {
  grid-area: price;
}

.desk__button {
  grid-area: button;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  cursor: pointer;
}

.desk__button:hover,
.desk__button:focus {
  background-color: var(--primary-color-light);
}
